*{
  box-sizing: border-box;
}
body {
  font-family: 'Livvic';
}

/* livvic-regular - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/livvic-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/livvic-v11-latin-regular.woff') format('woff');
}
/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: 
       url('../fonts/livvic-v11-latin-600.woff2') format('woff2'), 
       url('../fonts/livvic-v11-latin-600.woff') format('woff');
}
.header-wrapper {
  height: 517px;
  background-color: #014E56 ;
  padding-top: 77px;
}
.header-inner {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner2 {
  display: flex;
  align-items: center;
}
.nav-list {
  padding: 0;
  margin-left: 80px;
  display: flex;
  list-style-type: none;
}
.list-item ~ .list-item {
  margin-left:  40px;
}
.item-link {
  text-decoration: none;
  color: white;
}
.item-link:hover {
  color: #F67E7E;
}
.contact-link {
  width: 153px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 24px;
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
}
.contact-link:hover {
  color: #002529;
  background-color: #fff;
}
.site-hero {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.hero-content {
  width: 730px;
  margin-top: 40px;
}
.hero-heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.content-text {
  height: 156px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.content-text::before {
  content: " ";
  position:absolute;
  width: 50px;
  height: 4px;
  top: 241px;
  z-index: 2;
  background-color: #F67E7E;;
  background-repeat: no-repeat;
}
.hero-content::after {
  content: " ";
  background-image: url(../img/background-img.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  right: -100px;
  top: 317px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-team {
  background-color: #004047;
  padding-top: 158px;
  background-image: url(../img/background-img2.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.team-directors {
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}
.team-directors::before {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 517px;;
  left: 0;
  content: " ";
  background-image: url(../img/background-img1.svg);
}
.my-team-content {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  list-style-type: none;
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 150px;
}
.person-list {
  width: 350px;
  height: 253px;
  margin-top: 67px;
  background-color: #012F34;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.per-list-item {
  width: 350px;
  background-color: #012F34;  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.per-list-item-2 {
  width: 350px;
  height: 253px;
  margin-top: 56px;
  padding-top: 30px;
  background-color: #002529 ;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.per-name {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}
.per-info {
  margin: 0;;
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.per-list-item:hover {
  transform: translateY(-253px);
  transition: all 0.4s ease-in-out;
}
.about-per {
  width: 254px;
  text-align: center;
  color: #fff;
}

/*PLACE FOR PLUS BTN */

.our-clients {
  padding-top: 144px;
  padding-bottom: 156px;
  background-image: url(../img/bgc-img.svg);
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  align-items: center;
  background-color: #012F34;
}
.client-box {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.clients-heading {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
}
.client-list {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.get-started {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.get-started-content {
  width: 917px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-heading {
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}
.contact-link2 {
  width: 153px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
}
.contact-link2:hover {
  background-color: #012F34;
  color: #fff;
}
.logo-and-link {
  align-items: center;
}
/* FOOTER */
footer {
  background-color: #002529;
}
.footer-content {
  width: 1110px;
  height: 196px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: #002529 ;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.logo-and-link {
  width: 160px;
  height: 92px;
}
.footer-link-item a {
  color: #fff;
  text-decoration: none;
}
.adres-info {
  width: 445px;
  text-align: start;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}
.subscribe {
  width: 255px;
  height: 102px;
}
.subscribe-links {
  width: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-left: 151px;
  padding: 0;
  text-align: right;
}

.copyright {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #fff;
  opacity: 0.6;
}



/*  HOME PAGE STYLES !!!!*/



.home-page-header {

  background-color: #014E56;
}
.container1 {
  width: 1440px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #014E56;
  background-image: url(../img/background-img3.svg), url(../img/background-img4.svg) ;
  background-position: left center, right bottom;
  background-repeat: no-repeat;
}
.page-hero {
  width: 1110px;
  padding-top: 77px;
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
}
.hero-heading {
  width: 635px;
  display: inline-block;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}
.hero-heading span {
  color: #F67E7E;
}
.hero-text {
  width: 445px;
  height: 122px;
  margin: 0;
  padding: 0;
  margin-top: 88px;
  vertical-align: bottom;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.hero-text::before {
  content: " ";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 250px;
  background-color: #79C8C7;
}
.section1 {
  background-color: #012F34;
}
.container2 {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #012F34;
}
.container2-inner {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 198px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
}
.container2-heading {
  width: 445px;
  height: 145px;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  color: #fff;
}
.container2-heading::before {
  position: absolute;
  content: " ";
  width: 50px;
  height: 4px;
  top: 840px;
  background-color: #F67E7E;
}
.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: start;

}
.about-list-item {
  display: flex;
  width: 540px;
  justify-content: space-between;
  margin: 10px 0;
}
.about-list-content {
  display: inline-block;
  width: 445px;

}
.about-list-heading {
  display: inline-block;
  color: #F67E7E;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
.about-list-cintent {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}
.section2 {
  background-color: #004047;
}
.container3 {
  width: 1440px;
  padding-top: 140px;
  padding-bottom: 151px;
  background-color: #004047;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/background-img5.svg), url(../img/background-img6.svg);
  background-position: top left, bottom right ;
  background-repeat: no-repeat;
}
.container-inner {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.stories-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}
.stories-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
}
.stories-list-item {
  width: 350px;
  padding-top: 40px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background-img7.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.quotes, .person-work {
  color: #fff;
  margin: 0;
  text-align: center;
}
.person-name {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}
.person-work {
  margin-top: 0;
  margin-bottom: 32px;
}
.section3 {
  background-color: #F67E7E;
}
.section3-inner {
  width: 1440px;
  margin-left: auto;margin-right: auto;
  background-color: #F67E7E;
  background-image: url(../img/bgc-img2.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}